{% extends 'base/base.html' %} {%load static%} {%block content%}


<div class="blank-content"></div>


<section class="container">
    <div class="cursoTitle">
        <h2>Titulo de Curso</h2>
        <p>Bienvenido al curso que te interesa</p>
    </div>
</section>

<section class="container">
    <div class="claseList">
        {%for i in clases%}
        <a href="{%url 'cursoPage' curso.curso_slug i.clase_slug%}">
            <div class="claseElement">
                <img src="{%static 'img/error404.png'%}" alt="">
                <h3>Soy el titulo del Curso</h3>
                <p>soy un curso para tu creciomietn esto es un ejemplo</p>
            </div>
        </a>
        {%endfor%}
    </div>
</section>

{%endblock%}