{% extends 'base/base.html' %} {%load static%} {%block content%}


<div class="blank-content"></div>


<section class="container">
    <div class="cursoTitle">
        <h2>Titulo de Curso</h2>
        <p>Bienvenido al curso que te interesa</p>
    </div>
</section>
<div class="blank-content"></div>
<section class="container">
    <div class="cursoList">
        <div class="cursoElement">
            <img src="{%static 'img/error404.png'%}" alt="" width="100px">
            <h3>Soy el titulo del Curso</h3>
            <p>soy un curso para tu creciomietn esto es un ejemplo</p>
        </div>
    </div>
</section>

{%endblock%}