{% extends 'base/base.html' %} {%load static%} {%block content%}


<div class="blank-content"></div>


<section class="container">
    <div class="cursoTitle">
        <h2>Titulo de Curso</h2>
        <p>Bienvenido al curso que te interesa</p>
    </div>
</section>

<section class="container">
    <div class="claseList">
        {%for i in clases%}
        <a href="{%url 'cursoPage' curso.curso_slug i.clase_slug%}">
            <div class="claseElement">
                <img src="{{i.thumbnail.url}}" alt="">
                <h4>{{i.title}}</h4>
                <p>{{i.subtitle}}</p>
            </div>
        </a>
        {%endfor%}
    </div>
</section>

{%endblock%}