{% extends 'base/base.html' %} {%load static%} {%block content%}


<div class="blank-content"></div>


<section class="container">
    <div class="cursoTitle">
        <h1>Cursos BIM</h1>
        <p>Bienvenido selecciona el curso que te interesa</p>
    </div>
</section>

<section class="container">
    <div class="cursoList">
        <ul>
            {%for i in cursos_list%}
            <li>
                <a href="{%url 'cursoPage' i.curso_slug%}">
                    <div class="cursoElement">
                        <h3>{{i.title}}</h3>
                        <p>{{i.description}}</p>
                        <img src="{{i.thumbnail.url}}" alt="">
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

{%endblock%}