     {%load static %}
    <!-- Page Footer-->
    <footer class=" container footer">
        <div class="js-dev footer-section">
            <a href='https://aramxd.github.io/portfolio/' target="_blank"> <img src="{%static 'img/logo_450x200_azul_trans.png'%}" alt=""></a>
        </div>

        <div class="redes-sociales footer-section">
            <a class="facebook" href="https://www.facebook.com/BIMCapacitacion" target="_blank"><i class='bx bxl-facebook'></i></a>
            <a class="instagram" href="https://www.instagram.com/bim.capacitacion/" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a class="youtube" href="https://www.youtube.com/c/BIMCapacitacion" target="_blank"><i class='bx bxl-youtube'></i></a>
        </div>

    </footer>