 {%load static %}
<header>
    <nav>
        <section class=" nav">
            <a href="{% url 'homepage' %}">
                <div class="logo">
                    <img src="{%static 'img/1Logo-BIM-Capacitacion-768x432-1.png'%}" alt="soy un logo">
                </div>
            </a>
            <div class="enlaces-header">

                <a href="{% url 'homepage' %}">Inicio</a>
                <a href="{% url 'cursosHomePage'%}">Cursos</a>
                <!-- <a href="{% url 'descargaspage' %}">Descargas</a> -->
                <a href="{% url 'blogpage' %}">Tutoriales</a>
                <a href="/contacto">Contacto</a> {%if user.is_authenticated %}
                <div class="userStatus">
                    <p>Bienvenido {{user.username}}</p>
                    <form action="{% url 'logoutuser' %}" method="POST">
                        {% csrf_token %}
                        <!-- <a href="{% url 'logoutuser'%}">LogOut</a> -->
                        <button class="logoutButton" type="submit"> Logout </button>
                    </form>
                </div>



                {%else%}
                <a href="{% url 'loginuser'%}">LogIn</a>
                <a href="{% url 'signupuser'%}">SignUp</a> {%endif%}

            </div>
            <div class="boton-menu">
                <i class='bx bx-menu'></i>
            </div>
        </section>
    </nav>

</header>