
{%load static %}


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIMCapacitacion</title>
    <link rel="icon" href="{%static 'img/Logo-BIMCapacitacion.ico'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/style-blog.css'%}">
    <link rel="stylesheet" href="{% static 'css/style-post.css'%}">
    

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>