{%load static %}


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'js/main.js'%}"></script>

    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>



<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('bimcapacitacion', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Donar Cafe',
    'floating-chat.donateButton.background-color': '#00b9fe',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>