<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIMCapacitacion</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-blog.css">
    <link rel="stylesheet" href="css/style-post.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>



</head>

<body>
    <header>
        <nav>
            <section class=" nav">
                <div class="logo">
                    <img src="img/1Logo-BIM-Capacitacion-768x432-1.png" alt="soy un logo">
                </div>
                <div class="enlaces-header">
                    <a href="#">Inicio</a>
                    <a href="#">Boton 1</a>
                    <a href="#">Boton 2</a>
                </div>
                <div class="boton-menu">
                    <i class='bx bx-menu'></i>
                </div>
            </section>
        </nav>
    </header>
    <div class="blank-content"></div>






    <section class="post-detail container">

        <div class="btn-admin">
            <a href="" id="btn-edit-post">Edit</a>
            <a href="" id="btn-delete-post">Delete</a>
        </div>
        <div class="post-img">
            <img src="img/COMO DESCARGAR E INSTALAR REVIT 2020.jpg" alt="soy el alt">
            <div class="post-categorias">
                <p><b>REVIT - TUTORIAL - ARQUITECTURA</b></p>
            </div>
        </div>

        <div class="post-title">
            <h1>Soy el titulo de la publicacion</h1>
            <div class="post-icons">
                <img src="img/pp.jpg" alt="">
                <p> aramxD |
                    <i class='bx bx-time'></i> 08/21 |
                    <i class='bx bxs-comment-detail'></i> 7 |
                    <i class='bx bx-show'></i> 9</p>
            </div>
        </div>




        <p class="post-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex, ducimus quibusdam odio accusamus doloremque molestiae placeat amet soluta sit dolorem facere aliquam fuga, pariatur fugit officia, repellendus sequi non earum! Ullam velit incidunt,
            aut nesciunt deleniti consectetur labore esse corporis temporibus perspiciatis natus quaerat, laboriosam ex voluptas officiis ut, maxime ipsum repudiandae inventore explicabo expedita. Rerum id modi libero beatae, omnis quia provident pariatur
            delectus saepe maxime recusandae. Accusamus recusandae consequuntur magni laboriosam at. Eum minima ea suscipit et laborum vero corrupti obcaecati rem, quidem animi sequi officia sint eius rerum eos. Libero laboriosam ipsa sint nemo asperiores
            odit, delectus quae at, adipisci voluptatibus neque praesentium sit alias ad fuga animi vel explicabo dolorum excepturi. Ea repellat culpa est porro. Quibusdam commodi temporibus voluptas obcaecati eligendi minus itaque sit, facere aperiam
            earum ad sint nulla porro dolores corrupti, tempora eveniet exercitationem hic facilis amet, sapiente quidem! Explicabo, architecto recusandae.
        </p>
        <img src="img/Casa-conteiner1-o28cl0vmyo1v45h2ri5i3eihkhhvr39qu78fuuhy4w.jpg" alt="">
    </section>

    <section class="after-post container">
        <div class="other-post">
            <a href="#">
                <div class="other-post-btn">
                    <div class="btn-icon">
                        <i class='bx bx-left-arrow'></i>
                    </div>
                    <div class="btn-text">
                        <p>Publicacion Anterior</p>
                        <h4>ESTE ES EL TITULO DEL POST ANTERIOR</h4>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="other-post-btn">

                    <div class="btn-text">
                        <p>Siguiente Publicacion</p>
                        <h4>ESTE ES EL TITULO DEL SIGUIENTE POST</h4>
                    </div>
                    <div class="btn-icon">
                        <i class='bx bx-right-arrow'></i>
                    </div>
                </div>
            </a>
        </div>


    </section>

    <section class="container post-comment">
        <h2>Post Comments <small>(2)</small></h2>
        <div class="comment ">
            <div class="comment-img">
                <img src="img/pp.jpg" alt="">
            </div>
            <div class="comment-text">
                <h3>User Name</h3>
                <h6 class="comment-tiempo">hace 5 minutos</h6>
                <p>Esto es un comentario :D puede ser mas largo de lo que te imaginas</p>
            </div>
        </div>
        <div class="comment ">
            <div class="comment-img">
                <img src="img/pp.jpg" alt="">
            </div>
            <div class="comment-text">
                <h3>User Name</h3>
                <h6 class="comment-tiempo">hace 5 minutos</h6>
                <p>Esto es un comentario :D puede ser mas largo de lo que te imaginas</p>
            </div>
        </div>


        <div class="comment-input">
            <p>Deja un comentario</p>
            <textarea name="comment" id="comment" cols="60" rows="5" placeholder="escribe un commentario"></textarea>
            <input type="submit" name="submit" id="">
        </div>

    </section>

    <aside class="container">

        <!-- <div class="aside-section ">
            <h2>Ultimas publicaciones</h2>
            <div class="recent-post">
                <a href="#">
                    <div class="ultimos-post">
                        <img src="img/COMO DESCARGAR E INSTALAR REVIT 2020.jpg" alt="">
                        <div class="ultimos-post-text">
                            <h2>Como descargar e INstalar revit 2020</h2>
                            <p>
                                <i class='bx bxs-comment-detail'></i> 7 |
                                <i class='bx bx-show'></i> 9
                            </p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="ultimos-post">
                        <img src="img/COMO DESCARGAR E INSTALAR REVIT 2020.jpg" alt="">
                        <div class="ultimos-post-text">
                            <h2>Como descargar e INstalar revit 2020</h2>
                            <p>
                                <i class='bx bxs-comment-detail'></i> 7 |
                                <i class='bx bx-show'></i> 9
                            </p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="ultimos-post">
                        <img src="img/COMO DESCARGAR E INSTALAR REVIT 2020.jpg" alt="">
                        <div class="ultimos-post-text">
                            <h2>Como descargar e revit 2020</h2>
                            <p>
                                <i class='bx bxs-comment-detail'></i> 7 |
                                <i class='bx bx-show'></i> 9
                            </p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="ultimos-post">
                        <img src="img/COMO DESCARGAR E INSTALAR REVIT 2020.jpg" alt="">
                        <div class="ultimos-post-text">
                            <h2>Como descargar e INstalar revit 2020</h2>
                            <p>
                                <i class='bx bxs-comment-detail'></i> 7 |
                                <i class='bx bx-show'></i> 9
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div> -->
        <div class="aside-section search">
            <div class="post-search ">
                <h2>Te ayudo a buscar un tema 😬</h2>
                <form action="{% url 'search' %}" class="search-form">
                    <div class="form-group">
                        <input type="text" name="q" placeholder="Que buscas ?">
                        <button type="submit" class="submit"><i class='bx bx-search-alt' ></i></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="aside-section categorias-post">
            <h2>Categorias</h2>
            <table id="categories">
                <tr class="item ">
                    <td><a href="#">Revit<span>( 3 )</span></a></td>
                </tr>
                <tr class="item ">
                    <td><a href="#">Revit <span>( 3 )</span></a></td>
                </tr>
                <tr class="item ">
                    <td><a href="#">Revit<span>( 3 )</span></a></td>
                </tr>
            </table>
        </div> -->
    </aside>



    <footer class=" container footer">
        <div class="js-dev footer-section">
            <img src="img/logo_450x200_azul_trans.png" alt="">
        </div>

        <div class="redes-sociales footer-section">
            <a class="facebook" href="#"><i class='bx bxl-facebook'></i></a>
            <a class="instagram" href="#"><i class='bx bxl-instagram'></i></a>
            <a class="youtube" href="#"><i class='bx bxl-youtube'></i></a>
        </div>

    </footer>



    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/main.js"></script>

    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
</body>

</html>